html, body {margin: 0; height: 100%; overflow: hidden}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('assets/poopenfart.gif') no-repeat center center fixed;;
    background-size: cover;
}

#header {
    color: #e5dada;
    text-align: center;
    font-family: "Roboto", sans-serif;;
    font-style: italic;
    margin: 2% 10%;
    word-wrap: break-word;
}

#lilocat {
    margin: 7% 40% 0%;
    padding-bottom: 0;
    cursor: grab;
    animation: shake 0.2s;
    animation-iteration-count: infinite;
}

#clicktext {
    color: #e5dada;
    text-align: center;
    font-family: "Roboto", sans-serif;;
    font-style: italic;
    font-size: large;
    margin-top: 0%;
    padding-top: 0%;
}

#fadedfaded {
    display: none;
}

.ominoustext {
    color: #9bcc8c;
}

#gif {
    display: block;
    margin: 1% auto;
    height: 20%;
}

#unexplodebutt {
    background-color: rgba(95, 155, 86, 0.7);
    word-wrap: break-word;
    padding: 0.2em 0.2em 0.2em 0.2em;
    margin: 0% 45%;
    border-radius: 30px;
    cursor: pointer;
    display: none;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#unexplodebutt:hover {
    -webkit-filter: brightness(80%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#closebutt {
    margin-top: 30%;

    background-color: rgba(139, 104, 154, 0.9);
    word-wrap: break-word;
    padding: 0.2em 0.2em 0.2em 0.2em;
    margin: 0% 45%;
    margin-bottom: 1%;
    border-radius: 30px;
    border: 4px solid rgba(116, 86, 129, 0.9);
    cursor: pointer;
    text-align: center;
    font-size: small;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#closebutt:hover {
    -webkit-filter: brightness(80%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


@keyframes shake {
    0% { transform: translate(2px, 0px) rotate(1deg); }
    10% { transform: translate(0px, 2px) rotate(0deg); }
    20% { transform: translate(2px, 0px) rotate(-1deg); }
    30% { transform: translate(0px, 2px) rotate(0deg); }
    40% { transform: translate(2px, 0px) rotate(1deg); }
    50% { transform: translate(0px, 2px) rotate(0deg); }
    60% { transform: translate(2px, 0px) rotate(-1deg); }
    70% { transform: translate(0px, 2px) rotate(0deg); }
    80% { transform: translate(2px, 0px) rotate(1deg); }
    90% { transform: translate(0px, 2px) rotate(0deg); }
    100% { transform: translate(2px, 0px) rotate(-1deg); }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

#overlay {
    display:none;
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.4;
    z-index:99999;
}

#popup {
    display:none;
    position:fixed;

    width:60%;
    height:80%;
    margin: 0% 20%;

    background: rgba(88, 68, 98, 0.9);
    border-radius: 8px;
    z-index:100000;

    overflow-y: auto;
}
#popup p {
    margin-top: 2%;
    margin-left: 6%;
    margin-right: 6%;
    color: #c997c9;
    font-family: "Roboto", sans-serif;;
    font-style: italic;
    font-size: large;
}

#gif {
    margin-top: 4%;
}